.loginpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.logo {
    object-fit: contain;
    max-width: 200px;
    padding: 20px;
    justify-content: center;
}

.hr{
    color: rgb(235, 235, 235) !important;
    width: 100%;
    
}
.loginpage > p {
    padding-top: 30px;
    padding-bottom: 10px;
}
.loginpage > a {
    margin: 5px;
    padding: 20px;
    background-color: #1db954;
    border-radius: 99px;
    font-weight: 800;
    color: white;
    text-decoration: none;
}
.disabledbtn{
    margin: 5px;
    padding: 20px;
    border-radius: 99px;
    font-weight: 800;
    color: black;
    text-transform: uppercase;
    min-width: 20%;
}